
.wrapper {
  height: 100vh;
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 2;
  width: 536px
}

.imgContainer {
  margin-bottom: 2rem;
}

.comingSoon {
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .28rem;
  border-top: 2px solid var(--foreground);
  padding-top: 1.8rem;
  margin-bottom: 8rem;
}

.centralItems {
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.linkContainer {
  display: flex;
  justify-content: center;
}

.linkButton {
  font-family: var(--font-montserrat);
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--foreground);
  font-weight: 700;
  letter-spacing: .25rem;
  color: var(--background);
  padding: .8rem 3rem;
  border-radius: 1.8rem;
  border: 2px solid var(--foreground);
  &:hover {
    color: var(--foreground);
    background: var(--background);
  }
}

.footer, .footerMobile {
  font-family: var(--font-montserrat);
  text-align: center;
  padding-bottom: 4.5rem;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4rem;
  & a {
    text-decoration: none;
    color: var(--foreground)
  }
}
.footerMobile {
  display: none;
}

@media (max-width: 480px) {
  .main {
    width: 236px;
    padding-top: 90px
  }
  .logo {
    row-gap: 0;
    flex-grow: 2;
    justify-content: space-around;
  }
  .centralItems {
    row-gap: 2rem;
  }
  .comingSoon {
    padding: 0;
    margin: 0;
  }
  .comingSoon {
    font-size: 14px;
    padding: none;
    border: none;
  }
  .linkButton {
    font-size: 13px;
    padding: .8rem 1.6rem;
    border-radius: 1.8rem;
    letter-spacing: .15rem;
  }

  .footer {
    display: none;
  }

  .footerMobile {
    display: block;
    font-size: 14px;
    text-align: center;
    & p {
      line-height: 1.2rem;
    }
  }
}
